
body {
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.instagram-header,.instagram-body{
    background-color: white;
}
.instagram-header{
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 100%;
    height: 80px;
    justify-content: center;
}
.instagram-body {
    width: 500px;
    height: 400px;
    margin: 0 auto ;
    margin-top: 5%;
}
.image-head,.image-footer{
    display: flex;
}
.image-head h3{
    margin: 1%;
    color: grey;
}
.image-head h3:first-child{
    width: 95%;
    color: black;
}
.image-body img{
    width: 496px;
    height: 300px;
    object-fit: fill;
    margin-left: 2px;
    margin-top: 2px;
}
.image-footer{
    margin-bottom: 10%;
}
.image-footer p{
    margin: 1%;
    text-align: justify;
}
